#jumbotron {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: white;
  font-family: Montserrat,sans-serif;
}

#jumbotron > h2 {
  color: white;
  text-align: center;
}

#jumbotron > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

form {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}

footer {
  border-top: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
}

#pizzas {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  height: auto;
  width: 92.5%;
  margin: auto;
}

#pizzas tbody {
  width: 100%;
}

#pizzas th {
  text-align: left;
}

#pizzas td,th {
  width: 25%;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none;
  }
}

  nav {
    background: black;
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
    color: white;
    text-decoration: none;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 0;
    text-decoration: none;
    color: white;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
    text-decoration: none;
    color:white;
  }

  #bio img {
    float: right;
    width: 564px;
    height: 611px;
    margin-right: 1rem;
  }

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }
}

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
    color: white;

  }

  nav > .fa-bars {
    display: none;
    text-decoration: none;
    color: white;
  }

  #bio > a {
    text-decoration: none;
    background-color: white;
    font-size: 1.5em;
    padding: 1.5rem;
    border-radius: 10px;
  }

  #bio {
    background: url(assets/img/sunset.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: white;
    font-family: Montserrat,sans-serif;
    text-align: center;
  }

.jumboImg {
    background-image: url(assets/img/skydive.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1 {
  font-family: Montserrat,sans-serif;
}

#bio {
  position: relative;
}
#bioContent {
  position: absolute;
  top: 20%;
  left: 10%;
  bottom: 30%;
  right: 50%;
  font-weight: bolder;
}

nav > a {
  text-decoration: none;
  color: white;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
  color:white;
  font-size: 1rem;
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
  justify-content: space-between;
}

#improve {
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
  align-items: center;
  align-content: center;
  align-items: center;

}
