body {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: Montserrat,sans-serif;
  background-image: url("img/sunset.jpg");
  opacity: 0.65;
  background-size: cover;
}
