#jumbotron {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  color: white;
  font-family: Montserrat,sans-serif;
  margin-left: 7%;
  margin-right: 7%;
  background-color: white;
}

p {
  font-size: 30px;
}

h2 {
  font-size: 40px;
}

#jumbotron > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

form {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin-bottom:auto;
}

#reviews {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  height: auto;
  width: 92.5%;
  margin: auto;
}

#reviews tbody {
  width: 100%;
}

#reviews th {
  text-align: left;
}

#reviews td,th {
  width: 25%;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none;
  }
}

nav {
  background: black;
  color:white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
}

  nav > i {
    padding: 1rem;
    font-size: 2em;
    color: white;
    text-decoration: none;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 0;
    text-decoration: none;
    color: white;
  }

  nav > ul > li {
    list-style-type: none;
    text-decoration: none;
    color:white;
  }

  #bio img {
    float: right;
    width: 564px;
    height: 611px;
    margin-right: 1rem;
  }

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }
}

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 15px;
    color: white;

  }

  nav > .fa-bars {
    display: none;
    text-decoration: none;
    color: white;
  }

  #bio > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.2em;
  padding: 1.5rem;
  border-radius: 8px;
  }

  #bio {
  background: url(assets/img/sunset.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: white;
  font-family: Montserrat,sans-serif;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  position: relative;
  }

.jumboImg {
  background-image: url(assets/img/skydive.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  color: white;
  border-top: 15rem;
  border: solid white;
}

header {
  font-family: Montserrat,sans-serif;
  margin-left: 2%;
}

#bioContent {
  position: absolute;
  top: 20%;
  left: 10%;
  bottom: 30%;
  right: 50%;
  font-weight: bolder;
}

nav > a {
  text-decoration: none;
  color: white;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
  color:white;
  font-size: 1rem;
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
  justify-content: space-between;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .14em;
  text-transform: uppercase;
}

#improve {
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
  align-items: center;
  align-content: center;
}

input[type="submit" i] {
  align-items: center;
}

footer {
  color:white;
  background-color: black;
  background-size: cover;
  bottom: 0px;
  height: 150px;
  text-align: center;
}

footer ul {
  list-style-type: none;
}

#rev {
  color:black;
  background-color: white;
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
  align-items: center;
  align-content: center;
  align-items: center;
}

#revForm {
  color:black;
  background-color: white;
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
  align-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  }

#group {
  background-image: url(assets/img/groupbonfire.jpg);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 40px;
  height: 75vh;
  width: 100%;
  color: white;
  border-top: 15rem;
  border-bottom: 15rem;
  border: solid white;
}

#outdoors {
  background-image: url(assets/img/camping.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  color: white;
  border-top: 15rem;
  border-bottom: 15rem;
  border: solid white;
}

#outdoorContent {
  color: white;
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
}

#art {
  background-image: url(assets/img/pottery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  color: white;
  border-top: 15rem;
  border-bottom: 15rem;
  border: solid white;
}

#food {
  background-image: url(assets/img/food.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  color: white;
  border-top: 15rem;
  border-bottom: 15rem;
  border: solid white;
}

#foodContent {
  color: white;
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
}

#jumbotron > .jumboImg > a {
  background-color: white;
  color: black;
  padding: 1.2em 25px;
}

.categorySection > h2 {
  color: black;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  font-style: normal;
}

#secondImg {
  background-image: url(assets/img/bowling.jpg);
  background-repeat: no-repeat;
  background-size: 60%;
  height: 40vh;
  width: 50vh;
  margin-left: 7%;
  margin-right: 7%;
}

#thirdImg {
  background-image: url(assets/img/softball.jpg);
  background-repeat: no-repeat;
  background-size: 60%;
  height: 40vh;
  width: 50vh;
  margin-left: 7%;
  margin-right: 7%;
}

#hikeImg {
  background-image: url(assets/img/hike.jpg);
  background-repeat: no-repeat;
  background-size: 60%;
  height: 40vh;
  width: 50vh;
  margin-left: 7%;
  margin-right: 7%;
}

.groupCategorySection {
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

#allDates {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 90px 250px 90px 250px 90px 200px;
  margin-left:7%;
  margin-right: 3%;
}

#content1 > a {
  color:black;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: 25px;
}

#content2 > a {
  color:black;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: 25px;
}

#content3 > a {
  color:black;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: 25px;
}

#content1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 500;
}

#img1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 200px;
  width: 400px;
  background-image: url(assets/img/sailing.jpg);
  background-size: 200px 400px;
}

#content2 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 500;
}

#img2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 200px;
  width: 400px;
}

#img3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 200px;
  width: 400px;
}

#img4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
    width: 400px;
  }

#img5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 200px;
  width: 400px;
}

#img6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 200px;
  width: 400px;
}

#img7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 200px;
  width: 400px;
}

#img8 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 200px;
  width: 400px;
}

#content3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  }

#img9 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    height: 200px;
    width: 400px;
}

#img10 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  height: 200px;
  width: 400px;
}

#img11 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  height: 200px;
  width: 400px;
}

#img12 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  height: 200px;
  width: 400px;
}

button {
  color: #000;
  background-color: #fff;
  font-family: Montserrat,sans-serif;
  padding: 2px;
  }

.generateTitle {
  font-size: 40px;
}

#dateIdea {
  font-family: Montserrat,sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 30px;
  text-align: center;
  font-size: 50px;
  opacity:9;
  background: black;
  width:100%;
  opacity: .8;
  padding-bottom: 2%;
  }

#dateIdea a {
  font-size: 25px;
  border: solid;
  border-color: white;
  padding: 4px;
}

#dateIdea > .black {
  color: black;
}

#game {
  background-image: url(assets/img/game.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  color: white;
  border-top: 15rem;
  border-bottom: 15rem;
  border: solid white;
}

#golf {
    background-image: url(assets/img/golf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #sport {
    background-image: url(assets/img/sportevent.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #fish {
    background-image: url(assets/img/fishing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #sunset {
    background-image: url(assets/img/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #cook {
    background-image: url(assets/img/cooking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #museum {
    background-image: url(assets/img/museum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #volunteer {
    background-image: url(assets/img/volunteer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #sail {
    background-image: url(assets/img/sailing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #paddle {
    background-image: url(assets/img/paddle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }
  #concert {
    background-image: url(assets/img/concert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #tennis {
    background-image: url(assets/img/tennis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #kayak {
    background-image: url(assets/img/kayaking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #sail {
    background-image: url(assets/img/sailing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #park {
    background-image: url(assets/img/park.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }

  #fair {
    background-image: url(assets/img/fair.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    color: white;
    border-top: 15rem;
    border-bottom: 15rem;
    border: solid white;
  }
